@media (max-width: 1220px) {
	.logoText {
		font-size: 30px;
	}

	.logo svg {
		width: 25px;
	}

	nav {
		font-size: 12px;
	}

	.searchBasket {
		gap: 10px;
	}

	.searchBasket svg {
		height: 40px;
	}

	.basket {
		font-size: 14px;
	}

	h1 {
		width: 340px;
		font-size: 52px;
	}
}

@media (max-width: 900px) {
	header {
		padding: 0 4vw;
		justify-content: space-between;
	} 

	nav , .basket {
		display: none;
	}

	.pad {
		display: block;
	}
	.yellowtail {
		font-size: 31px;
		/* color: red; */
	}

	h1 {
		width: 250px;
		font-size: 40px;
	}

	.mainInfo {
		padding-left: 50px;
		width: 220px;
	}

	.yellowButton {
		font-size: 12px;
		padding: 12px 18px 12px 22px;
	}

	.desktopP
}

@media (max-width: 600px) {
	.mobile {
		display: block;
	}

	.desktopM {
		display: none;
	}
	
	.main {
		background: #E3F1E9;
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
	}

	.mainInfo{
		text-align: center;
		padding: 0;
	}

	h1{
		text-align: center;
	}
}
/* @media (max-width: 400px) {
	.searchInput{
		display: none;
	}
} */