.search{
    border-radius: 20px;
    border: 2px solid #3B3B3B;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-top: 30px;
}

.search input{
    background-color: #2b2b2b;
    color: #fff;
    border: none;
    width: 100%;
    outline: none;
    font-size: 18px;
}

.search span{
    cursor: pointer;
}




@media (max-width:1000px) {
    
}



@media (max-width:700px) {
    .search input{
        font-size: 15px;
    }
}